body {
    background-color: black;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 55px;
    background-color: rgb(37, 34, 34);
    flex-direction: column;
    border-radius: 10px;
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.perfis {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

figure{
    max-width: 160px;
    max-height: 160px;
    overflow:hidden;
    margin: 0;
    border-radius: 5px;
}

figure:hover{
    border: #fff solid 1px;
}

figcaption{
    color: #fff;
}

.icone{
    padding: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.icone:hover {
    cursor: pointer;
    transform:scale(1.5)
}


button {
    padding: 10px 30px;
    background-color: black;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: black;
}